POSTGRES_USER=corruption
POSTGRES_PASSWORD=corruption
POSTGRES_DB=corruption
DATABASE_URL=postgres://corruption:corruption@postgres:5432/corruption

MEMGRAPH_URI=bolt://memgraph:7687
MEMGRAPH_USER=
MEMGRAPH_PASS=

PORT=8080
DEV=true

# Frontend
FRONTEND_PORT=3000
# Base URL for the Go API empty to use mock data
NEXT_PUBLIC_API_URL=https://api.url
